* {
    margin: 0; 
    box-sizing: border-box
}

header {
    height: 15%;
    border: 2px solid blue;
}
  
main {
    height: 75%;
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
}

footer {
    height: 10%;
    border: 2px solid yellow;
}
  
.container {
    height: 100vh;
    border: 2px solid hotpink;
}

/* Hamburger navigation */

#hamburger {
    fill: black;
    margin: 25px;
}

/* Navigation menu options */

.controls {
    position: absolute;
    top: 0;
    right: 0;
}

.menu {
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    overflow-y: scroll;
    padding: 15px 30px;
    transition: all 0.25s ease-in-out;
    transform: translateX(100%);
    z-index: 1;
}

.menu-open {
    transform: translateX(0%);
    opacity: 1;
}

.menu li, .menu li:focus, .menu li:visited {
    color: black;
    display: block;
    font-size: 50px;
    margin: 25px;
    text-align: center;
    text-decoration: none;
}

.menu-close {
    background-color: white;
}

/* Carousel Section */

.carousel {
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.carousel-images {
    width: 100%;
    background: #f0e7df;
    padding: 10px;
    border-radius: 10px;
}

.carousel-images img {
    width: 100%;
    border-radius: 10px;
}

/* Arrow Section */

.carousel-button {
    align-self: center;
    color: black;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

.carousel-button:hover {
    cursor: pointer;
    color: #A39D90;
}

@media (min-width: 700px) {
    main {
        flex-direction: row;

    }

    /* .controls {
        display: none;
    }

    .menu-control {
        display: none;
    } */

}