* {
    margin: 0; 
    box-sizing: border-box
}

/* Header Section */

header {
    height: 15%;
    border-bottom: 2px solid#A39D90;
}

/* Hamburger navigation */

#hamburger {
    fill: black;
    margin: 25px;
}

/* Navigation menu options */

.controls {
    position: absolute;
    top: 0;
    right: 0;
}

.menu {
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    padding: 15px 30px;
    transition: all 0.25s ease-in-out;
    transform: translateX(100%);
    z-index: 1;
    display: none;
    height: 85vh;
}

.menu-open {
    transform: translateX(0%);
    opacity: 1;
    display: block;
}

.menu li, .menu li:focus, .menu li:visited {
    color: black;
    display: block;
    margin: 25px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.menu-close {
    background-color: white;
}

#logo {
    height: 100px;
    width: 130px;
    padding: 8px;
}

/* Body Section */
  
main {
    height: 75%;
    max-width: 1000px;
}
h1 {
    text-align: center;
    padding: 20px;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
}
  
.container {
    height: 100vh;
}

footer {
    height: 10%;
}

/* Images Section */

.sub-container {
    height: 360px;
}

#flag {
    background-image: url(./Images/flag.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100%;
}

#farris-wheel {
    height: 100%;
    background-image: url(./Images/farrisWheel.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#cube {
    height: 100%;
    background-image: url(./Images/cube.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#perth {
    height: 100%;
    background-image: url(./Images/perth.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#view {
    height: 100%;
    background-image: url(./Images/view.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#harbour-bridge {
    height: 100%;
    background-image: url(./Images/harbourBridge.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#flower {
    height: 100%;
    background-image: url(./Images/flower.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#smiley-face {
    height: 100%;
    background-image: url(./Images/smileFace.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#rottnest-island {
    height: 100%;
    background-image: url(./Images/rottnestIsland.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#koala {
    height: 100%;
    background-image: url(./Images/koala.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#opera-house {
    height: 100%;
    background-image: url(./Images/operaHouse.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#tree {
    height: 100%;
    background-image: url(./Images/tree.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#flower {
    height: 100%;
    background-image: url(./Images/flower.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

/* Responsive Section */

@media (min-width: 768px) {
    .sub-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    .sub-container div {
        margin-bottom: 5px;
        flex-basis: 48%;

    }
}
