* {
    margin: 0; 
    box-sizing: border-box
}

header {
    height: 15%;
    border: 2px solid blue;    
}
  
main {
    height: 75%;
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
}

footer {
    height: 10%;
    border: 2px solid yellow;
}
  
.container {
    height: 100vh;
    border: 2px solid hotpink;
}

.sub-container {
    flex-direction: row;
}

/* Hamburger navigation */

#hamburger {
    fill: black;
    margin: 25px;
}

/* Navigation menu options */

.controls {
    position: absolute;
    top: 0;
    right: 0;
}

.menu {
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    overflow-y: scroll;
    padding: 15px 30px;
    transition: all 0.25s ease-in-out;
    transform: translateX(100%);
    z-index: 1;
}

.menu-open {
    transform: translateX(0%);
    opacity: 1;
}

.menu li, .menu li:focus, .menu li:visited {
    color: black;
    display: block;
    font-size: 50px;
    margin: 25px;
    text-align: center;
    text-decoration: none;
}

.menu-close {
    background-color: white;
}


@media (min-width: 768px) {
    main {
        flex-direction: row;
    }
}